<div class="contrast-view" v-class="is-dark: $data[previewMode].dark">
	<div class="contrast__controls">
		<div class="contrast__control">
			<label for="background">Background</label>
			<input id="background" type="text" maxlength="23" v-model="model.background">
		</div>
		<div class="contrast__control">
			<label for="foreground">Foreground</label>
			<input id="foreground" type="text" maxlength="23" v-model="model.foreground">
		</div>
	</div>
	<div class="contrast__utility">
		<button class="btn btn--icon contrast__btn contrast__btn--bookmark" title="Bookmark These Colors" aria-label="Bookmark the current colors">
			<svg viewBox="0 0 8 8" class="icon-holder">
				<use xlink:href="images/icons.svg#bookmark" class="icon"></use>
			</svg>
		</button>
		<button class="btn btn--icon contrast__btn contrast__btn--preview-mode" title="Preview Modes" aria-label="Change the preview mode" v-el="previewModeButton" v-on="click: onPreviewModeButtonClick">
			<svg viewBox="0 0 8 8" class="icon-holder">
				<use xlink:href="images/icons.svg#eye" class="icon"></use>
			</svg>
		</button>
	</div>
	<preview colors="{{ $data[$data.previewMode] }}"></preview>
</div>
