$color-athens:  #edf0f1;
$color-mystic:  #e3e8eb;
$color-oslo:    #819197;
$color-picton:  #4abaf4;
$color-shuttle: #414c50;
$color-tiara:   #c5cbce;

$font-stack-sans: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
$font-stack-code: Menlo, monospace;

$easing-fade: ease-out;

$timing-medium: 300ms;
$timing-fast:   150ms;

$weight-normal:   400;
$weight-semibold: 500;
$weight-bold:     700;
