$color-shuttle: #5b6b71;

$font-stack-sans: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
$font-stack-code: Menlo, monospace;

$easing-fade: ease-out;

$timing-medium: 300ms;
$timing-fast:   150ms;

$weight-normal:   400;
$weight-semibold: 600;
$weight-bold:     700;
