<div class="view settings">
	<div class="view__toolbar">
		<div class="view__toolbar-section">
			<button class="btn btn--text">Feedback?</button>
		</div>
		<div class="view__toolbar-section">
			<button class="btn btn--text view__btn view__btn--back" title="Back" aria-label="Back" @click="toggleView('settings')">
				<svg class="icon-holder">
					<use xlink:href="images/icons.svg#close" class="icon"></use>
				</svg>
			</button>
		</div>
	</div>
	<div class="view__content settings__form">
		<div class="input input--checkbox">
			<input id="settings:launchAtLogin" type="checkbox" v-model="model.launchAtLogin">
			<label for="settings:launchAtLogin">Launch at Login</label>
		</div>
	</div>
	<div class="view__footer settings__about">
		<p>Version {{* pkg.version }}</p>
		<p>&copy; {{* year }} {{* pkg.author.name }}</p>
		<p>Built by {{* contributors }}</p>
	</div>
</div>
