.btn {
  background: none;
  border: 0;
  display: inline-block;
  outline: 0;
  padding: 0;
}

.btn--block {
  display: block;
  margin: 15px 0;
  width: 100%;
}

.btn--text {
  line-height: 1;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  .icon-holder {
    display: inline-block;
    margin-right: 5px;
    position: relative;
    top: -1px;
    vertical-align: middle;
  }
}

.btn--icon {
  line-height: inherit;

  svg {
    display: block;
  }
}

.btn--primary {
  background: $color-picton;
  border-radius: 3px;
  color: #fff;
  padding: 10px;

  &:hover,
  &:focus {
    background: darken($color-picton, 10%);
  }
}
