$_view-separator-color: $color-mystic;

.view {
	background: #ffffff;
	display: flex;
	flex: 1 0 0;
	flex-direction: column;
}

.view__toolbar {
	border-bottom: 1px solid $_view-separator-color;
	display: flex;
	flex-direction: row;
	line-height: 0;
	justify-content: space-between;
	user-select: none;
}

.view__toolbar-section {
	padding: 10px 5px;
	text-align: center;

	&:first-child {
		padding-left: 15px;
		text-align: left;
	}

	&:last-child {
		padding-right: 15px;
		text-align: right;
	}
}

.view__content {
	display: flex;
	flex: 1 0 0;
	flex-direction: column;
	overflow-y: auto;
}

.view__footer {
	border-top: 1px solid $_view-separator-color;
}
